//Paleta de cores da landing page.
$color1: #fad920;
$color2: #fa9b20;
$color3: #f592f8;
$color4: #f88181;

//Cor de texto da landing page.
$textColorWhite: #fff;
$textColorBlack: #000;

//Cor dos botões da landing page.
$buttonPrimary: #fad920;